<form {{action "save" on="submit"}}>
  {{#if title}}
    <h2>{{title}}</h2>
  {{/if}}

  {{yield}}
  {{#if hasRequired}}
    <p><span class="required-asterisk">*</span> indicates required field</p>
  {{/if}}
  <div class="text-center">
    <button type="submit" class="btn btn-info">Submit</button>
  </div>
</form>
